@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #261858;
}

header,
footer {
    background-color: #2d1c6c;
    color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.box-shadow {
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

.box-shadow--poster {
    box-shadow: 8px 9px 17px -6px rgba(0, 0, 0, 0.78);
}

.box-shadow--top {
    box-shadow: 4px -7px 16px -1px rgba(0, 0, 0, 0.75);
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}
