@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #261858;
}

header,
footer {
    background-color: #2d1c6c;
    color: #fff;
}

svg,
.user-name {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

svg:hover,
.user-name:hover {
    transform: scale(1.1);
    opacity: 80%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.box-shadow {
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

.box-shadow--poster {
    box-shadow: 8px 9px 17px -6px rgba(0, 0, 0, 0.78);
}

.box-shadow--top {
    box-shadow: 4px -7px 16px -1px rgba(0, 0, 0, 0.75);
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.tooltip-btn {
    position: relative;
    display: inline-block;
}

.tooltip-btn .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-btn .tooltip-text:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.tooltip-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.lf-5 {
    left: -25%;
}

.menu::before {
    visibility: hidden;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.menu-left::before {
    visibility: hidden;
    content: '';
    position: absolute;
    top: 50%;
    right: 97%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
}

.group:hover .menu::before {
    visibility: visible;
    opacity: 1;
}

.group-series:hover .menu-left::before {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.group-movies:hover .menu-left::before {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.group-series:hover .group-series-hover {
    display: block;
}

.group-movies:hover .group-movies-hover {
    display: block;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3d2dcf #252525;
}

.h-160 {
    height: 160px;
}

.h-450 {
    height: 450px;
}

.w-300 {
    max-width: 300px;
}

.h-600 {
    max-height: 420px;
}
